[submodule "vim/.vim/pack/bundle/start/editorconfig-vim"]
	path = vim/.vim/pack/bundle/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/.vim/pack/bundle/start/vdebug"]
	path = vim/.vim/pack/bundle/start/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule "vim/.vim/pack/bundle/start/vim-commentary"]
	path = vim/.vim/pack/bundle/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/pack/bundle/start/vim-eunuch"]
	path = vim/.vim/pack/bundle/start/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/.vim/pack/bundle/start/vim-fugitive"]
	path = vim/.vim/pack/bundle/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/bundle/start/vim-indent-object"]
	path = vim/.vim/pack/bundle/start/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "vim/.vim/pack/bundle/start/vim-repeat"]
	path = vim/.vim/pack/bundle/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/.vim/pack/bundle/start/vim-sensible"]
	path = vim/.vim/pack/bundle/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.vim/pack/bundle/start/vim-surround"]
	path = vim/.vim/pack/bundle/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/pack/bundle/start/vim-tmux-focus-events"]
	path = vim/.vim/pack/bundle/start/vim-tmux-focus-events
	url = git@github.com:tmux-plugins/vim-tmux-focus-events.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim/pack/bundle/start/vim-abolish"]
	path = vim/.vim/pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/pack/bundle/start/fzf.vim"]
	path = vim/.vim/pack/bundle/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/bundle/start/vim-unimpaired"]
	path = vim/.vim/pack/bundle/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim/.vim/pack/bundle/start/vim-grammarous"]
	path = vim/.vim/pack/bundle/start/vim-grammarous
	url = git@github.com:rhysd/vim-grammarous.git
[submodule "vim/.vim/pack/bundle/start/vim-polyglot"]
	path = vim/.vim/pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/.vim/pack/bundle/start/ale"]
	path = vim/.vim/pack/bundle/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/.vim/pack/bundle/start/vim-prisma"]
	path = vim/.vim/pack/bundle/start/vim-prisma
	url = https://github.com/prisma/vim-prisma.git
